#fecha-actual {
    font-size: 12pt;
    text-align: right;
    margin-top: 10px;
}

body {
    font-family: "Times New Roman", serif;
    font-size: 10pt;
    margin: 0;
    padding: 0;
}
.container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}
.header {
    text-align: center;
    margin-top: 10px;
}
.logo {
    width: 74px;
    height: 89px;
    position: absolute;
    top: 10px;
    left: 10px;
}

.seal {
    width: 100px;
    height: 113px;
    position: absolute;
    top: 7px;
    right: 10px;
}
.university-name {
    font-size: 14pt;
    font-weight: bold;
}
.institute {
    font-size: 10pt;
}
.coordinator {
    font-size: 10pt;
}
.divider {
    width: 100%;
    height: 2px;
    background-color: #000;
    margin: 10px 0;
}
.certificate-title {
    font-size: 12pt;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
}
.certificate-details {
    font-size: 12pt;
    text-align: justify;
    margin: 10px 0;
}
.student-info {
    font-size: 9pt;
    border-collapse: collapse;
    width: 100%;
    margin-top: 10px;
}
.student-info th, .student-info td {
    border: 1px solid #666;
    padding: 3px; /* Reducir el espacio entre celdas */
    text-align: center; /* Centrar el contenido en las celdas */
}
.student-info th {
    background-color: #ccc;
}
.footer {
    font-size: 10pt;
    text-align: right;
    margin-top: 10px;
}
/* Ajustes para la tabla */
.student-info td {
    text-align: center; /* Centrar el contenido en las celdas */
}
#qr-code {
    position: absolute;
    bottom: 30px;
    right: 5px;
}